*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: white;
  font-family: "Quicksand", sans-serif;
}

.left-menu {
  height: 100vh;
  width: 25%;
  overflow-x: scroll;
  padding-top: 30px;
  background-color: #f2f3f7;
  padding-top: 40px;
  margin-left: 20px;
  position: fixed;
  top: 10px;
}

#avatar {
  margin-top: 30px;
  height: 170px;
  width: 170px;
  clip-path: circle(80px);
  margin-left: auto;
  margin-right: auto;
  display: block;
  animation: ComeFromTop 1s forwards;
}

.avatar-name {
  font-size: 40px;
  text-align: center;
  margin-top: 30px;
  font-family: "Playfair";
  animation: ComeFromRight 1S forwards;
}

.about {
  font-size: 18px;
  text-align: center;
  margin-top: 5px;
  color: rgba(0, 0, 0, 0.7);
  animation: ComeFromLeft 1s forwards;
}


@keyframes ComeFromLeft {
  0% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(25px);
  }

  100% {
    transform: translate(0);
  }
}


@keyframes ComeFromRight {
  0% {
    transform: translateX(0);
  }

  80% {
    transform: translateX(-25px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes ComeFromTop {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(25px);
  }

  100% {
    transform: translate(0);
  }
}

@keyframes ComeFromDown {
  0% {
    transform: translateX(0);
  }

  80% {
    transform: translateY(-25px);
  }

  100% {
    transform: translate(0);
  }
}

#main-menu {
  text-align: center;
  line-height: 40px;
  margin-top: 20px;
  font-size: 13px;
  list-style: none;
}

#main-menu a {
  text-decoration: none;
  color: rgba(8, 3, 3, 0.7);
  display: inline-block;
  position: relative;
}

.blue-border {
  position: absolute;
  border-radius: 100%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  background-color: #2c98f0;
}

@keyframes blue-border-animation {
  0% {
    width: 0;
    bottom: 5px;
  }
  50% {
    width: 50%;
    bottom: 5px;
  }
  100% {
    width: 100%;
    bottom: 10px;
  }
}

#main-menu a:hover .blue-border {
  width: 100%;
  bottom: 10px;
  height: 2px;
  animation: blue-border-animation 300ms;
}

.about-1 {
  font-size: 12px;
  text-align: center;
  margin-top: 50px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 30px;
  animation: ComeFromDown 1s forwards;
}

.copy-right {
  text-decoration: none;
  color: #2c98f0;
}

.right-menu {
  width: 70%;
  background-color: white;
  float: left;
  text-align: center;
  margin-left: 400px;
}

.my-style {
  height: 170vh;
  left: 0;
  right: auto;
  margin: 0;
  max-width: 100%;
  position: relative;
}

.pic {
  width: 98%;
  height: 88vh;
  position: absolute;
  margin: auto;
  top: 10px;
  left: 1px;
}

.pic2 {
  animation: slide1 12s infinite;
  animation-direction: alternate;
}

@keyframes slide1 {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  60%{
    opacity: 0;
  }

  100%{
    opacity: 0;
  }
}


.me {
  left: 100px;
  top: 30px;
  position: absolute;
  z-index: 1;
  font-size: 50px;
  font-weight: 1500;
  font-family: "Times New Roman", Times, serif;
  animation: ComeFromLeft 1.5s forwards;
}

.my-job {
  left: 250px;
  top: 20px;
  position: absolute;
  z-index: 1;
  font-size: 25px;
  font-weight: 900;
  font-family: "Times New Roman", Times, serif;
  animation: ComeFromRight 1.5s forwards;
}

.ability {
  left: 30px;
  top: 140px;
  position: absolute;
  z-index: 1;
  animation: ComeFromDown 1.5s forwards;
}

.bottom {
  box-shadow: 15px 20px 20px gray;
  background-color: rgb(212, 216, 216);
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: rgb(43, 39, 39);
  position: relative;
  width: 190px;
  height: 45px;
  border-radius: 50px;
  top: 90vh;
  right: 3%;
  animation: hire-bottom 2s forwards;
}

.link {
  text-align: center;
  text-decoration: none;
  font-weight: bolder;
  font-size: large;
  position: absolute;
  right: 40px;
  top: 10px;
  color: rgb(39, 36, 36);
}

.link:hover {
  color: brown;
}

.abaut-us {
  background-color: white;
  text-align: left;
  color: rgb(43, 39, 39);
  position: absolute;
  width: 65%;
  height: 30vh;
  top: 115vh;
  left: 450px;
  line-height: 2;
  animation: ComeFromLeft 1.5s forwards;
}

.who {
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 60px;
  animation: ComeFromLeft 1.5s forwards;
}

.who-h {
  font-family: "Playfair";
  animation: ComeFromLeft 1.5s forwards;
}

.category {
  float: left;
  margin: 25px 21px;
  padding-top: 100px;
  width: 200px;
  height: 200px;
  background-color: rgb(248, 245, 250);
  box-shadow: rgb(187, 182, 182) 20px 35px 100px;
  position: relative;
  background-color: rgb(233, 226, 215);
}

.img-icon:hover {
  animation: category-anim .5s forwards;
}

@keyframes category-anim {
  0% {
    transform: translate(0);
    transform: rotate(0);
  }

  50% {
    transform: translateY(-5px);
  }

  100% {
    transform: rotateY(180deg);
  }
}


.category h3 {
  margin-left: 15px;
}

.category-grafic {
  border-bottom: solid 3px palevioletred;
}

.category-web {
  border-bottom: solid 3px blue;
}

.category-software {
  border-bottom: solid 3px yellow;
}

.category-app {
  border-bottom: solid 3px red;
}

.img-icon {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 15px; 
}

.hire-me {
  width: 65%;
  height: 25vh;
  margin-top: 40vh;
  margin-right: 70px;
  float: right;
  background-color: rgb(232, 245, 52);
  border-radius: 5px;
  margin-bottom: 40px;
  animation: ComeFromLeft 1.5s forwards;
}

.hire-head {
  margin-top: 15px;
  margin-left: 30px;
  font-size: 30px;
  font-weight: 100;
  font-family: "Playfair";
  float: left;
}

.bottom-hire-me {
  border: solid rgb(152, 161, 27) 2px;
  margin-top: 100px;
  margin-left: -400px;
  color: black;
  text-decoration: none;
  width: 90px;
  text-align: center;
  height: 35px;
  font-size: 18px;
  float: left;
  border-radius: 10%;
  padding-top: 4px;
}

.hire-me .hire-img {
  width: 170px;
  height: 190px;
  clip-path: circle(80px);
  margin: -16px 50px 0 50px;
}

.bottom-hire-me:hover {
  animation: hire-bottom .2s forwards;
}

@keyframes hire-bottom {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5px);
    box-shadow: rgb(83, 80, 80) 5px 5px 10px;
  }
}

.to-do {
  float: left;
  margin-left: 460px;
  margin-top:60px;
  line-height: 1.5;
  animation: ComeFromDown 1.5s forwards;
}

.do-head {
  font-family: "Playfair";
  font-weight: bold;
  margin-top: 50px;
  margin-bottom: 70px;
  animation: ComeFromDown 1.5s forwards;
}

.expertise {
  float: left;
  margin: 25px 21px;
  padding-top: 100px;
  top: 100px;
  width: 290px;
  height: 340px;
  background-color: rgb(248, 245, 250);
  position: relative;
  right: 26px;
  box-shadow: rgb(110, 105, 105) 2px 3px 4px;
  animation: ComeFromDown 1.5s forwards;
}


.expertise h3 {
  margin-left: 15px;
  font-weight: bold;
  text-align: center;
}

.expertise-grafic {
  border-bottom: solid 3px palevioletred;
}

.expertise-web {
  border-bottom: solid 3px blue;
}

.expertise-software {
  border-bottom: solid 3px yellow;
}

.img-icon2 {
  width: 100px;
  height: 100px;
  float: left;
  margin-top: -140px;
  background-color: rgb(210, 231, 89);
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 52% 100%, 0% 75%, 0% 25%);
}

.img-icon3 {
  width: 50px;
  height: 50px;
  margin: 25% 25%;
}

.expertise p {
  text-align: center;
  padding-top: 20px;
}